<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('components/Navbar') %>
    <h1>
        About 
    </h1>
    <h3><%= userInfo.name %></h3>
    <p>id : <%=userInfo.id%></p>
<ul>
    <% userInfo.fav.forEach((item)=>{  %>
<li>
    <%=  item%>
</li>
    <%})%>
</ul>
</body>
</html>